set_io CLK 21
set_io CLRbar 78
set_io LDbar 79
set_io P 80
set_io T 81
set_io RCO 88
set_io count[3] 116
set_io count[2] 117
set_io count[1] 118
set_io count[0] 119
set_io D[3] 144
set_io D[2] 143
set_io D[1] 142
set_io D[0] 141
set_io Q[3] 112
set_io Q[2] 113
set_io Q[1] 114
set_io Q[0] 115
